@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.td-table {
  min-width: 100px;

}


@media print {

  @page {
    size: auto;
    margin: 0;
  }

  body {
    color: black;
  }

  .no-print {
    display: none;
  }
}